* {box-sizing: border-box}

html, body {
    /* height: 100%;
    width: 100%; */
    margin: 0; 
    padding: 0;
    font-family: cursive;
}

body {
    background-color: lightsteelblue;
    color: rgb(104, 26, 0);
}

h1 {
    padding-top: 5%;
    text-align: center;
    text-decoration: underline;
    font-size: 2.5em;
    font-weight: bolder;
}

form {
    display: flex;
    justify-content: center;
    margin: 10px 5px;
}

input {
    margin: 5px;
    padding: 10px 10px;
    width: 50%;
    height: inherit;
    background-color: lightpink;
    font-family: cursive;
    font-size: 1.1em;
    border-radius: 5px;
}

::placeholder { 
    color: rgb(104, 26, 0);
    opacity: 1; 
    text-align: center;
    font-size: large;
  }

table {
    border: solid black 1px;
    border-radius: 10px;
    background-color: lightpink;
    border-collapse: collapse;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 70px;
    width: 75%;
    margin: 1.2em auto 2em auto;
}

#completedTable th{
    background-color: rgb(68, 132, 96);
    color: aliceblue;
}

.completed {
    background-color: rgb(157, 245, 182);
    color: rgb(1, 106, 106);
}

caption {
    font-size: 1.5em;
    font-weight: bolder;
    font-family: cursive;
    padding: 5px;
    text-decoration:wavy;
}

td {
    border: solid darkblue 1px;
    text-align: center;
}

tr, td {
    border-left: solid darkblue 1px;
    border-right: solid darkblue 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto auto 2em auto;
    text-align: center;
}

th {
    background-color: rgb(226, 149, 160);
    font-size: 1.25em;
}

.tasktodo {
    width: 70%;
}

.delete {
    width: 30%;
}

button {
    margin: 2px;
}

.deleteBtn {
    background-color: rgba(132, 33, 13, 0.724);
    color: lightcyan;
    border-color: lightslategray;
    border-radius: 5px;
    font-size: 1em;
    font-family: cursive;
}

.markCompleteBtn {
    background-color: lightgreen;
    border-color: lightgreen;
    color: black;
    border-radius: 5px;
    font-size: 1em;
    font-family: cursive;
}

#addTaskBtn {
    margin: inherit;
    height: inherit;
    padding: 5px 10px;
    background-color: lightcoral;
    color: darkblue;
    font-size: 1.2em;
    font-family: cursive;
    border-radius: 5px;
}

#addTaskBtn:onClick {

    border-color: white; 
}

#reorderBtn {
    display: flex;
    margin: 30px auto 10px auto;
    height: inherit;
    padding: 5px 10px;
    background-color: lightcoral;
    color: darkblue;
    font-size: 1.2em;
    font-family: cursive;
    border-radius: 5px;
}

#reorderBtn:onClick {
    border-color: white;
}
